extends ./layout/_layout.pug

block headerlogo
  a.navbar-item(href='index.html')
    img(src='assets/images/logo.png', alt='Cycoin', height='28')
    span Cycoin
  //- a
//- block
block footerlogo
  .logo
    img(src="assets/images/logo.png")
    span Cycoin
  //- logo
//- block
block homepagenav
  a.navbar-item(href="#coindemocracy")
    | Coin Democracy
  //- a
  
block content

  section.hero.is-fullheight.banner
    .hero-body
      .container
        .content
          h2.subtitle
            | Cycoin Pre-ICO
          //- h2
        //- content
        h1.title.is-1
          | Coming Soon
        //- h1
        br
        //- a.button.is-primary.is-medium.is-uppercase(href="") Join Our Whitelist
        button.button.is-primary.is-medium.is-uppercase(@click="isComponentModalActive = true")
          | Join Our Whitelist
        //- button
        p &nbsp;
        p Joining our whitelist will ensure you are the first to be notified of our pre-ICO launch and will secure you an early mover bonus of 25% Cycoin.
          br
          | NOTE:&nbsp;
          i There are limited whitelist spaces available.
      //- container
    //- hero-body
    section.section.vision
      .container
        .content
          p Cycoin aims to provide new as well as established investors access to the cryptocurrency investment markets with a dependable and easy mechanism to hold a pool of cryptocurrencies which will deliver an income stream, without the headache of scouring through hours of research and manual investing.
          p Our aim is to use tried and observably low risk investment strategies to simply deliver income reward to holders of Cycoin.
        //- content
      //- container
    //- section
  //- section
  section.section.normal.blurb.bb
    .container
      .content
        .columns
          .column
            img(src="assets/images/icons/icon-bulb.png")
            h4.subtitle.is-4 Why
            p With so many new cryptocurrencies emerging every day, it can be very time consuming to determine which coins are the real deal and which ones are not.  Furthermore, once you've determined this, many of the good coins that have merit still have to face huge tasks in order to become a working reality. Its risky stuff. So rather than promising ridiculous potential future income and capital benefits that so many coins are trying and failing to do, we offer rational, understandable and real income deriving investment strategies. These investment strategies are conducted through established mechanisms already evident in the crypto markets. The funds that we raise will be invested into cryptocurrencies, meaning that your money won't be travelling anywhere other than as establish in our funds criteria herein. 
          //- column
          .column
            img(src="assets/images/icons/icon-gear.png")
            h4.subtitle.is-4 How It Will Work
            p Cycoin is an asset backed coin, backed by the cryptocurrencies we purchase as we conduct Cycoin’s investment objectives. As detailed below (see Coin Democracy), Cycoin holders will receive voting power over the pool of cryptocurrencies. We will hold selected currencies that are established and real (usually in the top 100 by market cap) to conduct margin lending activities and take advantage of arbitrage opportunities that arise periodically in the crypto markets. We will also allocate a portion of the fund to invest in curated pre-ICO's and ICO's which will be carefully scrutinized and selected by the team and external professionals in the crypto markets.
          //- column
          .column
            img(src="assets/images/icons/icon-lab.png")
            h4.subtitle.is-4 Funds Criteria
            p The funds we raise will be invested into coins that are listed on exchanges, like Bittrex and Poloniex, which provide margin lending facilities. Funds will also be invested into arbitrage opportunities where sufficient trading volume is apparent. The funds will also be invested into select initial offerings of coin called pre-ICO's and ICO's. At present, a signals app is in development to help identify good arbitrage trades and 5% of funds will be reserved for development, legal and startup costs. The initial investnent of funds will be to purchase and then lend the pool of coins held via a number of exchanges. This will be done in order to immediately start earning income whilst we sort through attractive pre-ICO's and ICO opportunities and until arbitrage opportunities are apparent.
          //- column
        //- columns
      //- content
    //- container
  //- section
  section.section.normal.strategies.bb
    .container
      h1.title.has-text-centered Four Core strategies will be employed
      .content
        article.media
          figure.media-left
            p.image
              img(src="assets/images/icons/icon-flash.png")
            //- p
          //- figure
          .media-content
            .content
              p
                strong Margin Lending
                br
                p For the first month, initially 100% of the fund (less the development reserve mentioned above), then thereafter, a minimum of 50% and up to 80% of the fund will be converted to crypto currencies and placed across a number of exchanges for the purpose of lending those currencies to traders on the exchanges to earn margin lending interest. Margin lending interest differs depending upon the currency and according to supply/demand disparity. They range from .02% per day to 5% per day.
                p We will convert all margin interest earned to Bitcoin and Ether and distribute this to Cycoin Wallets proportional to the amount of Cycoin held monthly.
              //- p
            //- content
          //- media-content
        //- article
        article.media
          figure.media-left
            p.image
              img(src="assets/images/icons/icon-savings.png")
            //- p
          //- figure
          .media-content
            .content
              p
                strong Opportunistic Arbitrage
                br
                p Up to 30% of the fund will be dedicated to talking arbitrage profit. Because cryptocurrency exchanges are not interlinked, at times the price of the same asset may be different on two different exchanges. We will asses these differences and if attractive, take the opportunity to buy the asset at a lower price on one exchange and sell it at a higher price on the other.
                p The price difference is called arbitrage profit and does not involve trying to predict the future updward or downward movement of a currency, as you would if you are trading asset.
                p Arbitrage profit will be distributed monthly.
              //- p
            //- content
          //- media-content
        //- article
        article.media
          figure.media-left
            p.image
              img(src="assets/images/icons/icon-chart.png")
            //- p
          //- figure
          .media-content
            .content
              p
                strong Pre-ICO and ICO investments
                br
                p Up to 50% of the fund will invest in good Pre-ICO and ICO opporunities. We will employ a range of external professional services to deliver up pre-vetted, curated opportunities. The team will select which of these looks to carry well founded and logical business goals, displays real world or digital application, are more likely to be widely adopted and the business goals appear to be achievable relatively quickly and can be liquidated easily. Profit will be converted to Bitcoin and Ether and distributed quarterly.
              //- p
            //- content
          //- media-content
        //- article
        article.media
          figure.media-left
            p.image
              img(src="assets/images/icons/icon-gold.png")
            //- p
          //- figure
          .media-content
            .content
              p
                strong Fund Income Reinvestment
                br
                p 10% of the income derived from Pre-ICO and ICO investments will be retained from distribution and reinvested along with the general fund to increase the amount of crypto currencies held. This will serve to compound the earning capacity of the fund and increase the asset backing of the coin for the benefit of Cycoin holders.
              //- p
            //- content
          //- media-content
        //- article
      //- content
      br
      br
      .columns
        .column
          .content
            h3.is-3.has-text-centered Fund Commencement
            canvas#chartFundCommencement
          //- content
        //- column
        .column
          .content
            h3.is-3.has-text-centered 4-6 Months after Commencement
            canvas#chartAfterCommencement
          //- content
        //- column
      //- columns
    //- container
  //- section
  section.section.normal#coindemocracy
    .container
      h1.title.has-text-centered Coin Democracy
      .content
        p Coin Democracy exists to provide confidence and security to the Cycoin holders. It is the link between the entity which holds the pool of cryptocurrencies backing Cycoin and Cycoin holders, giving you real power over your investment.
        p Our asset backing is set in stone by virtue of our coin democracy. After completion of the ICO, the following legal and technological processes will be undertaken and implemented on an ongoing basis.
        p All of the crypto assets behind Cycoin will be divested by the Cycoin company into a trust and the beneficiaries of the trust will be Cycoin holders. This means the Cycoin company does not own the crypto assets backing Cycoin, effectively you do.
        p We will establish a democratic voting system within our blockchain where each Cycoin will be entitled to one vote. Voting will govern what is done with the crypto assets with a majority vote deciding.
        p This structure has been put in place as a safeguard to Cycoin holders so that if anything goes wrong to the extent that more than 10% of the crypto assets backing Cycoin are lost for any reason, Cycoin holders may vote to distribute all of the crytpo assets back to Cycoin holders. It a mechanism designed to ensure control of the assets remains with Cycoin investors.
        p This innovation has not yet been done in the cryptocurrency markets and is an all time first for Cycoin. This mechanism is designed to give effect to real asset backing and real control to investors over the fund in the event that things go wrong.
        p It is also designed to give the ability for Cycoin holders to a cast a vote on any new initiatives introduced for benefit Cycoin holders. 
        p For more detail see our&nbsp;
          a.has-text-success(href='assets/files/Whitepaper.pdf', target="_blank") Whitepaper
          | .
        //- p
      //- content
    //- container
  //- section
  section.section.about
    .container
      h1.title.has-text-centered About Cycoin
      .content
        p Cycoin is an ERC20 token based on the Etherium platform bringing all of the established transactional, privacy and security benefits of proven blockchain technology to Cycoin holders.
        p Cycoin is a wealth coin, holders will receive an asset backed coin with access to monthly interest and quarterly capital distributions delivered as income.
        p Our asset backing formula is an innovation that has not yet been done in the cryptocurrency markets and is an all time first for Cycoin. The mechanism is designed to give effect to real asset backing and real control to investors over the fund in the event that things go wrong.
        p 50,000,000 Cycoins will be issued and will be listed on external exchanges before or at ICO.
      //- content
    //- container
  //- section
  section.section.subscribe
    .container
      .content
        .columns.is-centered.has-text-centered
          .column.is-5
            big
              strong Join our whitelist, limited spaces available
            //- big
          //- column
          .column.is-2
            a.button.is-success.is-rounded(href="") Subscribe
          //- column
        //- columns
      //- content
    //- container
  //- section
  
  b-modal(:active.sync="isComponentModalActive", has-modal-card="")
    modal-form(v-bind="formProps")

block scripts
  script.
    new Chart(document.getElementById("chartFundCommencement"), {
      "type": "doughnut",
      "data": {
        "labels": ["Development Reserve","Margin Lending Investments"],
        "datasets": [{
          "data": [5, 100],
          "backgroundColor": ["#65B1EC", "#3C5568"],
          "borderWidth" : 0
        }]
      }
    });
    
    new Chart(document.getElementById("chartAfterCommencement"), {
      "type": "doughnut",
      "data": {
        "labels": ["Margin Lending Investment", "Arbitrage Investments", "Development Reserve", "ICO Investments"],
        "datasets": [{
          "data": [60, 15, 5, 20],
          "backgroundColor": ["#3C5568", "#65B1EC", "#C5E0F3", "#37E350"],
          "borderWidth" : 0
        }]
      }
    });
    
    Vue.use(Buefy.default)
    
    const ModalForm = {
        props: ['name', 'email', 'expinvestment'],
        template: `
          <form action="">
            <div class="modal-card" style="width: auto">
              <header class="modal-card-head">
                <p class="modal-card-title">Join our Whitelist</p>
              </header>
              <section class="modal-card-body">
                <b-field label="Full Name">
                  <b-input
                    type="text"
                    :value="name"
                    placeholder="Johnny Appleseed"
                    required>
                  </b-input>
                </b-field>
                
                <b-field label="Email">
                  <b-input
                    type="email"
                    :value="email"
                    placeholder="johnny.appleseed@gmail.com"
                    required>
                  </b-input>
                </b-field>

                <b-field label="Expected Investment Amount">
                  <b-input
                    type="number"
                    :value="expinvestment"
                    password-reveal
                    placeholder="$100"
                    required>
                  </b-input>
                </b-field>
                <br>
                <b-checkbox>I agree with the terms and conditions.</b-checkbox>
              </section>
              <footer class="modal-card-foot has-text-right">
                <button class="button is-default" type="button" @click="$parent.close()">Cancel</button>
                <button class="button is-success">Join Now</button>
              </footer>
            </div>
          </form>
        `
    }
    var App = new Vue({
      el: '#app',
      components: {
        ModalForm
      },
      data() {
        return {
          isComponentModalActive: false,
          formProps: {
            name: '',
            email: '',
            expinvestment: ''
          }
        }
      }
    });
